RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://animativespace.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://animativespace.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://animativespace.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://animativespace.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bhekucom.mywhc.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bhekucom.mywhc.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boarddiversitynetwork.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://boarddiversitynetwork.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dahdalehinstitute.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dahdalehinstitute.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dev.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dev.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dighr.covid19.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dighr.covid19.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://douglas-blackwell.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://douglas-blackwell.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forart.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forart.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://greenfurniture.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://greenfurniture.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inmodi.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inmodi.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jesse-graham.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jesse-graham.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://karcass.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://karcass.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://natashasakhuja.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://natashasakhuja.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngqabutho.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngqabutho.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngqabutho.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngqabutho.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ocad-ed-2010.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ocad-ed-2010.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ocad-ed-2011.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ocad-ed-2011.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppldoe.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ppldoe.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://princeedwardschool.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://princeedwardschool.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://princeedwardschool.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://princeedwardschool.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://redpepperspectaclearts.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://redpepperspectaclearts.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sshiftb.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sshiftb.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sshiftb.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sshiftb.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://swot.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://swot.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tbcentre.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tbcentre.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wearelyte.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wearelyte.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wearelyte.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wearelyte.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animativespace.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animativespace.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animativespace.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.animativespace.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bhekucom.mywhc.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bhekucom.mywhc.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boarddiversitynetwork.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.boarddiversitynetwork.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dahdalehinstitute.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dahdalehinstitute.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dev.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dev.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dighr.covid19.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dighr.covid19.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.douglas-blackwell.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.douglas-blackwell.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forart.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forart.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.greenfurniture.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.greenfurniture.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inmodi.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inmodi.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jesse-graham.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jesse-graham.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.karcass.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.karcass.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.natashasakhuja.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.natashasakhuja.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngqabutho.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngqabutho.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngqabutho.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngqabutho.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ocad-ed-2010.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ocad-ed-2010.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ocad-ed-2011.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ocad-ed-2011.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppldoe.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ppldoe.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeedwardschool.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeedwardschool.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeedwardschool.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeedwardschool.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.redpepperspectaclearts.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.redpepperspectaclearts.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sshiftb.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sshiftb.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sshiftb.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sshiftb.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.swot.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.swot.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tbcentre.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tbcentre.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wearelyte.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wearelyte.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wearelyte.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wearelyte.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://animativespace.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://animativespace.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://animativespace.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://animativespace.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bhekucom.mywhc.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bhekucom.mywhc.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boarddiversitynetwork.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://boarddiversitynetwork.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dahdalehinstitute.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dahdalehinstitute.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dev.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dev.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dighr.covid19.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dighr.covid19.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://douglas-blackwell.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://douglas-blackwell.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forart.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forart.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://greenfurniture.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://greenfurniture.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://inmodi.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://inmodi.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jesse-graham.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jesse-graham.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://karcass.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://karcass.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://natashasakhuja.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://natashasakhuja.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngqabutho.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngqabutho.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngqabutho.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngqabutho.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ocad-ed-2010.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ocad-ed-2010.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ocad-ed-2011.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ocad-ed-2011.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppldoe.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ppldoe.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeedwardschool.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeedwardschool.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeedwardschool.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeedwardschool.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://redpepperspectaclearts.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://redpepperspectaclearts.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sshiftb.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sshiftb.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sshiftb.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sshiftb.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://swot.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://swot.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tbcentre.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tbcentre.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wearelyte.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wearelyte.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wearelyte.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wearelyte.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.animativespace.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.animativespace.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.animativespace.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.animativespace.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bhekucom.mywhc.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bhekucom.mywhc.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boarddiversitynetwork.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.boarddiversitynetwork.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dahdalehinstitute.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dahdalehinstitute.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dev.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dev.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dighr.covid19.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dighr.covid19.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.douglas-blackwell.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.douglas-blackwell.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forart.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forart.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forart.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.forart.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.greenfurniture.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.greenfurniture.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.inmodi.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.inmodi.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jesse-graham.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jesse-graham.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.karcass.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.karcass.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.natashasakhuja.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.natashasakhuja.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngqabutho.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngqabutho.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngqabutho.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngqabutho.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ocad-ed-2010.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ocad-ed-2010.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ocad-ed-2011.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ocad-ed-2011.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppldoe.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ppldoe.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeedwardschool.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeedwardschool.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeedwardschool.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeedwardschool.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.redpepperspectaclearts.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.redpepperspectaclearts.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sshiftb.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sshiftb.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sshiftb.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sshiftb.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.swot.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.swot.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tbcentre.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tbcentre.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wearelyte.bheku.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wearelyte.bheku.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wearelyte.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wearelyte.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php82” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
