:root,
*::before,
*::after {
  --break-xl: $break_xl;
  --break-lg: $break_lg;
  --break-md: $break_md;
  --break-sm: $break_sm;
  --break-compact: $break_md;
}
@media print {
  .cell.breadcrumbs {
    font-family: sans-serif;
  }
}
.cell.breadcrumbs {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cell.breadcrumbs ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cell.breadcrumbs ol::after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (max-width: 719.9px) {
  .cell.breadcrumbs ol {
    display: flex;
  }
}
.cell.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 15px;
  float: left;
}
.cell.breadcrumbs li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.cell.breadcrumbs li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3.31px;
  width: 7px;
  height: 7px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #505a5f;
}
.cell.breadcrumbs li li::before {
  content: none;
  display: none;
}
@media only screen and (max-width: 719.9px) {
  .cell.breadcrumbs li:first-child,
  .cell.breadcrumbs li:last-child {
    display: inline-block;
  }
}
.cell.breadcrumbs a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
}
.cell.breadcrumbs a:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
.cell.breadcrumbs a:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  color: var(--global-color-black);
  background-color: var(--global-color-accent);
  box-shadow: 0 -2px var(--global-color-accent), 0 4px var(--global-color-black);
  text-decoration: none;
}
.cell.breadcrumbs a:link,
.cell.breadcrumbs a:visited {
  color: #0b0c0c;
}
@media print {
  .cell.breadcrumbs a {
    font-family: sans-serif;
  }
  .cell.breadcrumbs a:link,
  .cell.breadcrumbs a:visited {
    color: #000;
  }
}
.cell.grid,
.cell.section,
.cell.group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cell.grid > .cell,
.cell.section > .cell,
.cell.group > .cell {
  flex: 0 1 100%;
  min-width: 0.1px;
  min-height: 0.1px;
}
.cell.grid > .cell:not([class*='align']):not([class*='self']),
.cell.section > .cell:not([class*='align']):not([class*='self']),
.cell.group > .cell:not([class*='align']):not([class*='self']) {
  margin: unset;
}
.cell.grid > .cell:not([class*='align']):not([class*='self']) .text,
.cell.grid > .cell:not([class*='align']):not([class*='self']) .media,
.cell.section > .cell:not([class*='align']):not([class*='self']) .text,
.cell.section > .cell:not([class*='align']):not([class*='self']) .media,
.cell.group > .cell:not([class*='align']):not([class*='self']) .text,
.cell.group > .cell:not([class*='align']):not([class*='self']) .media {
  margin-left: auto;
  margin-right: auto;
}
.cell.grid > .cell .text,
.cell.grid > .cell .media,
.cell.section > .cell .text,
.cell.section > .cell .media,
.cell.group > .cell .text,
.cell.group > .cell .media {
  display: block;
}
@keyframes targetIn {
  0% {
    outline-color: rgba(0, 0, 0, 0);
  }
  10% {
    outline-color: beige;
  }
  60% {
    outline-color: beige;
  }
  100% {
    outline-color: rgba(0, 0, 0, 0);
  }
}
.cell:target {
  position: relative;
}
.cell:target:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: targetIn 3s 1;
  pointer-events: none;
  outline: 4px solid rgba(0, 0, 0, 0);
}
.cell.matrix {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
}
.cell.matrix > .cell {
  margin: 0;
}
.xs-1 {
  grid-column-start: 1;
}
.xe-1 {
  grid-column-end: 1;
}
.ys-1 {
  grid-row-start: 1;
}
.ye-1 {
  grid-row-end: 1;
}
.xs-2 {
  grid-column-start: 2;
}
.xe-2 {
  grid-column-end: 3;
}
.ys-2 {
  grid-row-start: 2;
}
.ye-2 {
  grid-row-end: 3;
}
.xs-3 {
  grid-column-start: 3;
}
.xe-3 {
  grid-column-end: 4;
}
.ys-3 {
  grid-row-start: 3;
}
.ye-3 {
  grid-row-end: 4;
}
.xs-4 {
  grid-column-start: 4;
}
.xe-4 {
  grid-column-end: 5;
}
.ys-4 {
  grid-row-start: 4;
}
.ye-4 {
  grid-row-end: 5;
}
.xs-5 {
  grid-column-start: 5;
}
.xe-5 {
  grid-column-end: 6;
}
.ys-5 {
  grid-row-start: 5;
}
.ye-5 {
  grid-row-end: 6;
}
.xs-6 {
  grid-column-start: 6;
}
.xe-6 {
  grid-column-end: 7;
}
.ys-6 {
  grid-row-start: 6;
}
.ye-6 {
  grid-row-end: 7;
}
.xs-7 {
  grid-column-start: 7;
}
.xe-7 {
  grid-column-end: 8;
}
.ys-7 {
  grid-row-start: 7;
}
.ye-7 {
  grid-row-end: 8;
}
.xs-8 {
  grid-column-start: 8;
}
.xe-8 {
  grid-column-end: 9;
}
.ys-8 {
  grid-row-start: 8;
}
.ye-8 {
  grid-row-end: 9;
}
.xs-9 {
  grid-column-start: 9;
}
.xe-9 {
  grid-column-end: 10;
}
.ys-9 {
  grid-row-start: 9;
}
.ye-9 {
  grid-row-end: 10;
}
.xs-10 {
  grid-column-start: 10;
}
.xe-10 {
  grid-column-end: 11;
}
.ys-10 {
  grid-row-start: 10;
}
.ye-10 {
  grid-row-end: 11;
}
.xs-11 {
  grid-column-start: 11;
}
.xe-11 {
  grid-column-end: 12;
}
.ys-11 {
  grid-row-start: 11;
}
.ye-11 {
  grid-row-end: 12;
}
@media only screen and (min-width: 720px) {
  .m-md-xs-1 {
    grid-column-start: 1;
  }
  .m-md-xe-1 {
    grid-column-end: 1;
  }
  .m-md-ys-1 {
    grid-row-start: 1;
  }
  .m-md-ye-1 {
    grid-row-end: 1;
  }
  .m-md-xs-2 {
    grid-column-start: 2;
  }
  .m-md-xe-2 {
    grid-column-end: 3;
  }
  .m-md-ys-2 {
    grid-row-start: 2;
  }
  .m-md-ye-2 {
    grid-row-end: 3;
  }
  .m-md-xs-3 {
    grid-column-start: 3;
  }
  .m-md-xe-3 {
    grid-column-end: 4;
  }
  .m-md-ys-3 {
    grid-row-start: 3;
  }
  .m-md-ye-3 {
    grid-row-end: 4;
  }
  .m-md-xs-4 {
    grid-column-start: 4;
  }
  .m-md-xe-4 {
    grid-column-end: 5;
  }
  .m-md-ys-4 {
    grid-row-start: 4;
  }
  .m-md-ye-4 {
    grid-row-end: 5;
  }
  .m-md-xs-5 {
    grid-column-start: 5;
  }
  .m-md-xe-5 {
    grid-column-end: 6;
  }
  .m-md-ys-5 {
    grid-row-start: 5;
  }
  .m-md-ye-5 {
    grid-row-end: 6;
  }
  .m-md-xs-6 {
    grid-column-start: 6;
  }
  .m-md-xe-6 {
    grid-column-end: 7;
  }
  .m-md-ys-6 {
    grid-row-start: 6;
  }
  .m-md-ye-6 {
    grid-row-end: 7;
  }
  .m-md-xs-7 {
    grid-column-start: 7;
  }
  .m-md-xe-7 {
    grid-column-end: 8;
  }
  .m-md-ys-7 {
    grid-row-start: 7;
  }
  .m-md-ye-7 {
    grid-row-end: 8;
  }
  .m-md-xs-8 {
    grid-column-start: 8;
  }
  .m-md-xe-8 {
    grid-column-end: 9;
  }
  .m-md-ys-8 {
    grid-row-start: 8;
  }
  .m-md-ye-8 {
    grid-row-end: 9;
  }
  .m-md-xs-9 {
    grid-column-start: 9;
  }
  .m-md-xe-9 {
    grid-column-end: 10;
  }
  .m-md-ys-9 {
    grid-row-start: 9;
  }
  .m-md-ye-9 {
    grid-row-end: 10;
  }
  .m-md-xs-10 {
    grid-column-start: 10;
  }
  .m-md-xe-10 {
    grid-column-end: 11;
  }
  .m-md-ys-10 {
    grid-row-start: 10;
  }
  .m-md-ye-10 {
    grid-row-end: 11;
  }
  .m-md-xs-11 {
    grid-column-start: 11;
  }
  .m-md-xe-11 {
    grid-column-end: 12;
  }
  .m-md-ys-11 {
    grid-row-start: 11;
  }
  .m-md-ye-11 {
    grid-row-end: 12;
  }
  .m-md-xs-12 {
    grid-column-start: 12;
  }
  .m-md-xe-12 {
    grid-column-end: 13;
  }
  .m-md-ys-12 {
    grid-row-start: 12;
  }
  .m-md-ye-12 {
    grid-row-end: 13;
  }
}
@media only screen and (min-width: 1280px) {
  .m-lg-xs-1 {
    grid-column-start: 1;
  }
  .m-lg-xe-1 {
    grid-column-end: 1;
  }
  .m-lg-ys-1 {
    grid-row-start: 1;
  }
  .m-lg-ye-1 {
    grid-row-end: 1;
  }
  .m-lg-xs-2 {
    grid-column-start: 2;
  }
  .m-lg-xe-2 {
    grid-column-end: 3;
  }
  .m-lg-ys-2 {
    grid-row-start: 2;
  }
  .m-lg-ye-2 {
    grid-row-end: 3;
  }
  .m-lg-xs-3 {
    grid-column-start: 3;
  }
  .m-lg-xe-3 {
    grid-column-end: 4;
  }
  .m-lg-ys-3 {
    grid-row-start: 3;
  }
  .m-lg-ye-3 {
    grid-row-end: 4;
  }
  .m-lg-xs-4 {
    grid-column-start: 4;
  }
  .m-lg-xe-4 {
    grid-column-end: 5;
  }
  .m-lg-ys-4 {
    grid-row-start: 4;
  }
  .m-lg-ye-4 {
    grid-row-end: 5;
  }
  .m-lg-xs-5 {
    grid-column-start: 5;
  }
  .m-lg-xe-5 {
    grid-column-end: 6;
  }
  .m-lg-ys-5 {
    grid-row-start: 5;
  }
  .m-lg-ye-5 {
    grid-row-end: 6;
  }
  .m-lg-xs-6 {
    grid-column-start: 6;
  }
  .m-lg-xe-6 {
    grid-column-end: 7;
  }
  .m-lg-ys-6 {
    grid-row-start: 6;
  }
  .m-lg-ye-6 {
    grid-row-end: 7;
  }
  .m-lg-xs-7 {
    grid-column-start: 7;
  }
  .m-lg-xe-7 {
    grid-column-end: 8;
  }
  .m-lg-ys-7 {
    grid-row-start: 7;
  }
  .m-lg-ye-7 {
    grid-row-end: 8;
  }
  .m-lg-xs-8 {
    grid-column-start: 8;
  }
  .m-lg-xe-8 {
    grid-column-end: 9;
  }
  .m-lg-ys-8 {
    grid-row-start: 8;
  }
  .m-lg-ye-8 {
    grid-row-end: 9;
  }
  .m-lg-xs-9 {
    grid-column-start: 9;
  }
  .m-lg-xe-9 {
    grid-column-end: 10;
  }
  .m-lg-ys-9 {
    grid-row-start: 9;
  }
  .m-lg-ye-9 {
    grid-row-end: 10;
  }
  .m-lg-xs-10 {
    grid-column-start: 10;
  }
  .m-lg-xe-10 {
    grid-column-end: 11;
  }
  .m-lg-ys-10 {
    grid-row-start: 10;
  }
  .m-lg-ye-10 {
    grid-row-end: 11;
  }
  .m-lg-xs-11 {
    grid-column-start: 11;
  }
  .m-lg-xe-11 {
    grid-column-end: 12;
  }
  .m-lg-ys-11 {
    grid-row-start: 11;
  }
  .m-lg-ye-11 {
    grid-row-end: 12;
  }
  .m-lg-xs-12 {
    grid-column-start: 12;
  }
  .m-lg-xe-12 {
    grid-column-end: 13;
  }
  .m-lg-ys-12 {
    grid-row-start: 12;
  }
  .m-lg-ye-12 {
    grid-row-end: 13;
  }
}
.cell {
  --plyr-color-main: var(--global-color-accent);
  --plyr-control-icon-size: 1em;
  --plyr-control-spacing: 0.5em;
  --plyr-control-padding: 0.25em;
  --plyr-control-radius: 0px;
}
.cell.cover {
  flex: 1 1 auto;
  padding: 0;
}
.cell.cover.cover-full .media {
  height: 100vh;
  height: calc(var(--window-height, 1vh) * 100);
}
.cell.cover.cover-peak .media {
  height: 85vh;
  height: calc(var(--window-height, 1vh) * 85);
}
.cell.cover.cover-loose .media {
  height: 85vh;
  height: calc(var(--window-height, 1vh) * 70);
}
.cell.cover.cover-banner .media {
  height: 55vh;
  height: calc(var(--window-height, 1vh) * 55);
  min-height: 480px;
}
.cell.cover .media video,
.cell.cover .media img,
.cell.cover .media svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cell.cover .media::after {
  display: none;
}
.cell.shows {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0, auto) minmax(0, auto);
  align-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.cell.shows .show-info {
  grid-area: 1/1/2/2;
  padding: 0 calc(var(--gutter) * 0.5);
}
@media only screen and (max-width: 719.9px) {
  .cell.shows .show-info {
    padding: 0 calc(var(--gutter) * 1.5);
  }
}
.cell.shows [class*='cell-'] {
  grid-area: 2/1/3/2;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.cell.shows [class*='cell-'] figure {
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}
.cell.shows[data-pos*='1'] [class*='cell-']:nth-child(1) {
  display: flex;
}
.cell.shows[data-pos*='2'] [class*='cell-']:nth-child(2) {
  display: flex;
}
.cell.shows[data-pos*='3'] [class*='cell-']:nth-child(3) {
  display: flex;
}
.cell.shows[data-pos*='4'] [class*='cell-']:nth-child(4) {
  display: flex;
}
.cell.shows[data-pos*='5'] [class*='cell-']:nth-child(5) {
  display: flex;
}
.cell.shows[data-pos*='6'] [class*='cell-']:nth-child(6) {
  display: flex;
}
.cell.shows[data-pos*='7'] [class*='cell-']:nth-child(7) {
  display: flex;
}
.cell.shows[data-pos*='8'] [class*='cell-']:nth-child(8) {
  display: flex;
}
.cell.shows[data-pos*='9'] [class*='cell-']:nth-child(9) {
  display: flex;
}
.cell.shows[data-pos*='10'] [class*='cell-']:nth-child(10) {
  display: flex;
}
.cell.shows[data-pos*='11'] [class*='cell-']:nth-child(11) {
  display: flex;
}
.cell.shows[data-pos*='12'] [class*='cell-']:nth-child(12) {
  display: flex;
}
.cell.shows[data-pos*='13'] [class*='cell-']:nth-child(13) {
  display: flex;
}
.cell.shows[data-pos*='14'] [class*='cell-']:nth-child(14) {
  display: flex;
}
.cell.shows[data-pos*='15'] [class*='cell-']:nth-child(15) {
  display: flex;
}
.cell.shows[data-pos*='16'] [class*='cell-']:nth-child(16) {
  display: flex;
}
.cell.shows[data-pos*='17'] [class*='cell-']:nth-child(17) {
  display: flex;
}
.cell.shows[data-pos*='18'] [class*='cell-']:nth-child(18) {
  display: flex;
}
.cell.shows[data-pos*='19'] [class*='cell-']:nth-child(19) {
  display: flex;
}
.cell.shows[data-pos*='20'] [class*='cell-']:nth-child(20) {
  display: flex;
}
.cell.shows[data-pos*='21'] [class*='cell-']:nth-child(21) {
  display: flex;
}
.cell.shows.fixed [class*='cell-'] figure {
  width: 100%;
  height: 66.666vh;
  height: calc(var(--window-height, 1vh) * 66.666);
  min-height: 480px;
  max-height: 720px;
}
.cell.shows.fixed [class*='cell-'] figure img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: inherit;
  margin: auto;
}
.cell.shows-btn-next,
.cell.shows-btn-prev {
  position: absolute;
}
.cell.shows-btn-next > *,
.cell.shows-btn-prev > * {
  margin: auto;
}
.cell.shows-btn-next {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url('figure/icon-caret.png') 0 0, pointer;
  cursor: url('figure/icon-caret.svg') 0 0, pointer;
  cursor: -webkit-image-set(
        url('figure/icon-caret.png') 1x,
        url('figure/icon-caret-2x.png') 2x
      )
      0 0,
    pointer;
}
.cell.shows-btn-prev {
  left: var(--gutter);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  background-color: rgba(47, 79, 79, 0.05);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
img,
input[type='image'],
video,
embed,
iframe,
marquee,
object,
table {
  aspect-ratio: attr(width) / attr(height);
}
figure:not([class*='-str']) {
  margin: 0;
}
figure .media {
  position: relative;
  line-height: 0;
  background-color: rgba(150, 150, 150, 0.1);
  background-color: var(--cell-media-background, rgba(150, 150, 150, 0.1));
}
figure .media img,
figure .media iframe,
figure .media video,
figure .media audio {
  width: 100%;
  height: auto;
  object-position: center;
}
figure .media .plyr {
  width: 100%;
  height: 100%;
}
figure .media::after {
  content: '';
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 3;
  width: 2rem;
  height: 2rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+DQoJPHBhdGggZmlsbD0iIzI4MkMyNiINCgkJZD0iTTI3LjQgMjAuNGMtMS4xIDAtMi4zLS4xLTMuNCAwLS41IDAtLjctLjItLjctLjcuMS0yLjMuMS00LjYuMS02LjkgMC0uNS4yLS42LjctLjYgMi4zLjEgNC42LjEgNi45LjEuNSAwIC42LjIuNi43LS4xIDIuMy0uMSA0LjYtLjEgNyAwIC41LS4zLjYtLjcuNi0xLjItLjItMi4zLS4yLTMuNC0uMnpNMTUuOSAxMi4xYzIuMyAwIDQuMiAxLjggNC4xIDMuOSAwIDIuNi0xLjcgNC40LTQuMiA0LjQtMi40IDAtNC4xLTEuOS00LjEtNC4zIDAtMS45IDEuOS00LjEgNC4yLTR6TTQuOCAxMi40Yy42LjUuOSAxLjIgMS4yIDEuOGwzLjMgNS40Yy4zLjUuNC44LS40LjgtMi42IDAtNS4yLjEtNy44LjEtLjIgMC0uNS4xLS43LS4yLS4yLS4zLjEtLjQuMi0uN0wyLjcgMTZsMi4xLTMuNnoiIC8+DQo8L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 2rem;
  transition: all 0.35s ease;
  opacity: 0;
  pointer-events: none;
}
figure figcaption {
  font-family: var(--font-family-caption);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-caption);
  width: 100%;
  margin-top: calc(0.85rem * var(--line-height));
  cursor: default;
  transition: opacity 0.45s ease;
  will-change: opacity;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
figure.embed:not(.self) .media > *,
figure.image:not(.self) .media > *,
figure.video:not(.self) .media > * {
  opacity: 0;
  animation: fade-in 0.4s ease;
  -webkit-animation: fade-in 0.4s ease;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
figure.embed:not(.self) .media::after,
figure.image:not(.self) .media::after,
figure.video:not(.self) .media::after {
  opacity: 1;
}
figure.embed.loaded .media > *,
figure.image.loaded .media > *,
figure.video.loaded .media > * {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}
figure.embed.loaded .media::after,
figure.image.loaded .media::after,
figure.video.loaded .media::after {
  opacity: 0;
}
.cell.crop-cover > .media img,
.cell.crop-cover > .media video,
.cell.crop-cover > .media iframe {
  object-fit: cover;
}
.cell.crop-contain > .media img,
.cell.crop-contain > .media video,
.cell.crop-contain > .media iframe {
  object-fit: contain;
}
.cell.crop-fill > .media img,
.cell.crop-fill > .media video,
.cell.crop-fill > .media iframe {
  object-fit: fill;
}
.cell.crop-scale-down > .media img,
.cell.crop-scale-down > .media video,
.cell.crop-scale-down > .media iframe {
  object-fit: scale-down;
}
.cell.ratio > .media::before,
.cell.embed:not([class*='ratio']) > .media::before {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  padding-bottom: var(--video-custom-ratio, 56.25%);
}
.cell.ratio > .media img,
.cell.ratio > .media video,
.cell.ratio > .media iframe,
.cell.embed:not([class*='ratio']) > .media img,
.cell.embed:not([class*='ratio']) > .media video,
.cell.embed:not([class*='ratio']) > .media iframe {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  max-width: calc(100% + 1px);
  max-height: calc(100% + 1px);
  border: 0;
}
.cell.ratio-1-1 .media::before {
  padding-top: 100%;
}
.cell.ratio-16-10 .media::before {
  padding-top: 62.5%;
}
.cell.ratio-16-9 .media::before {
  padding-top: 56.25%;
}
.cell.ratio-9-16 .media::before {
  padding-top: 143.75%;
}
.cell.ratio-2-1 .media::before {
  padding-top: 50%;
}
.cell.ratio-4-3 .media::before {
  padding-top: 75%;
}
.cell.pop .media {
  cursor: url('/public/img/icons/cursor-magnify.png') 0 0, pointer;
  cursor: url('/public/img/icons/cursor-magnify.svg') 0 0, pointer;
  cursor: -webkit-image-set(
        url('/public/img/icons/cursor-magnify.png') 1x,
        url('/public/img/icons/cursor-magnify-2x.png') 2x
      )
      0 0,
    pointer;
}
.cell.popper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding: 0;
  margin: 0;
  animation: background-fade-in 0.25s ease-out 0s 1 forwards;
  display: flex;
  flex-direction: column;
}
@keyframes background-fade-in {
  0% {
    background-color: rgba(245, 245, 245, 0);
  }
  25% {
    background-color: rgba(245, 245, 245, 0.25);
  }
  50% {
    background-color: rgba(245, 245, 245, 0.5);
  }
  75% {
    background-color: rgba(245, 245, 245, 0.75);
  }
  100% {
    background-color: rgba(245, 245, 245, 0.9);
  }
}
.cell.popper .media {
  display: flex;
  min-height: 1px;
  margin: auto;
  cursor: url('figure/icon-close.png') 0 0, pointer;
  cursor: url('figure/icon-close.svg') 0 0, pointer;
  cursor: -webkit-image-set(
        url('figure/icon-close.png') 1x,
        url('figure/icon-close-2x.png') 2x
      )
      0 0,
    pointer;
}
.cell.popper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  pointer-events: none;
}
.cell.popper figcaption {
  color: #222;
  text-align: center;
  padding: 0 var(--gutter) var(--gutter);
}
.rte:not([class*='-str']) .content {
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--max-width-ch)) 1fr;
}
.rte:not([class*='-str']) .content > * {
  grid-column: 2;
}
.rte:not([class*='-str']) .content .full-bleed {
  grid-column: 1/-1;
}
.rte:not([class*='-str']).align-l {
  grid-template-columns: minmax(0, var(--max-width-ch)) 1fr;
}
.rte:not([class*='-str']).align-r {
  grid-template-columns: 1fr minmax(0, var(--max-width-ch));
}
@media only screen and (max-width: 1279.9px) {
  .rte:not([class*='-str']) .content {
    max-width: calc(100% - var(--gutter));
  }
}
hr.cell {
  color: currentColor;
  border: none;
}
hr.cell::before {
  content: '';
  display: block;
  text-align: center;
  margin: auto;
}
hr.cell.line-dash::before,
hr.cell.line-through::before {
  border-top: 3px solid currentColor;
  border-top: var(--hr-border-width, 3px) solid currentColor;
}
hr.cell.line-dash::before {
  max-width: calc(var(--gutter) * 2);
}
hr.cell.ellipsis::before {
  content: '·   ·   ·';
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
}
hr.cell.arrow-down {
  text-align: center;
}
hr.cell.arrow-down::before,
hr.cell.arrow-down::after {
  content: '';
  display: inline-block;
  width: calc(var(--gutter) * 0.75);
  height: 3px;
  height: var(--hr-border-width, 3px);
  background-color: currentColor;
  margin: 0;
}
hr.cell.arrow-down::before {
  transform-origin: bottom right;
  transform: rotate(32.5deg);
}
hr.cell.arrow-down::after {
  transform-origin: bottom left;
  transform: rotate(-32.5deg);
}
@keyframes pause {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.video.inline.toggle .btn {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: var(--global-color-accent);
  opacity: 0;
}
.video.inline.toggle .btn.play,
.video.inline.toggle .btn.pause {
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  padding: 5px;
  pointer-events: none;
}
.video.inline.toggle .btn.play svg,
.video.inline.toggle .btn.pause svg {
  width: 60px;
  height: 60px;
}
.video.inline.toggle .btn.pause {
  transition: opacity 0.25s ease-out;
}
.video.inline.toggle .btn.expand,
.video.inline.toggle .btn.contract {
  top: 10px;
  right: 15px;
  z-index: 3;
  padding: 3px 5px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.video.inline.toggle .btn.expand svg,
.video.inline.toggle .btn.contract svg {
  width: 30px;
  height: 30px;
}
.video.inline.toggle.expanded {
  z-index: 10000 !important;
}
.video.inline.toggle.expanded .media video,
.video.inline.toggle.expanded .media iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-height: calc(100% - var(--gutter));
  max-width: calc(100% - var(--gutter));
  object-fit: scale-down;
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}
.video.inline.toggle.expanded .media::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(17, 17, 17, 0.8);
}
.video.inline.toggle.expanded .btn {
  position: fixed;
  z-index: 3;
}
.video.inline.toggle.expanded .btn.contract {
  opacity: 1;
}
.video.inline.toggle:not(.expanded) .btn.expand {
  opacity: 1;
}
.video.inline.toggle.playing .btn.pause {
  animation: pause 1.5s ease-out 1 forwards;
}
.video.inline.toggle:not(.playing) .btn.play {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}
.video.inline.toggle:not(.playing):not(.expanded) .media video {
  cursor: pointer;
  transition: opacity 0.4s ease;
}
.video.inline.toggle:not(.playing):not(.expanded) .media:hover video {
  opacity: 0.9;
}
[class*='align-'],
[class*='self-'] {
  display: flex;
  flex-wrap: wrap;
}
[class*='align-'] > *,
[class*='self-'] > * {
  flex: 1 0 100%;
}
.cell.align-t {
  align-items: flex-start;
}
.cell.align-r {
  justify-content: flex-end;
}
.cell.align-b {
  align-items: flex-end;
}
.cell.align-l {
  justify-content: flex-start;
}
.cell.align-c {
  align-items: center;
  justify-content: center;
}
.cell.align-c-v {
  align-items: center;
}
.cell.align-c-h {
  justify-content: center;
}
.cell.align-str-v {
  align-items: stretch;
}
.cell.align-str-h {
  justify-content: stretch;
}
.cell.self-t {
  align-self: flex-start;
}
.cell.self-r {
  margin: 0 0 0 auto;
}
.cell.self-b {
  align-self: flex-end;
}
.cell.self-l {
  margin: 0 auto 0 0;
}
.cell.self-c-v {
  align-self: center;
}
.cell.self-c-h {
  margin: 0 auto;
}
.cell.self-c {
  margin: auto;
}
.max-width-compact {
  max-width: 45ch;
}
.max-width {
  max-width: var(--max-width);
}
.max-width-wide {
  max-width: var(--max-width-wide);
}
.w-1 {
  max-width: 8.333%;
}
.w-2 {
  max-width: 16.666%;
}
.w-3 {
  max-width: 24.999%;
}
.w-4 {
  max-width: 33.332%;
}
.w-5 {
  max-width: 41.665%;
}
.w-6 {
  max-width: 49.998%;
}
.w-7 {
  max-width: 58.331%;
}
.w-8 {
  max-width: 66.664%;
}
.w-9 {
  max-width: 74.997%;
}
.w-10 {
  max-width: 83.33%;
}
.w-11 {
  max-width: 91.663%;
}
.w-12 {
  max-width: 99.996%;
}
@media only screen and (max-width: 719.9px) {
  .w-sm-1 {
    max-width: 8.333%;
  }
  .w-sm-2 {
    max-width: 16.666%;
  }
  .w-sm-3 {
    max-width: 24.999%;
  }
  .w-sm-4 {
    max-width: 33.332%;
  }
  .w-sm-5 {
    max-width: 41.665%;
  }
  .w-sm-6 {
    max-width: 49.998%;
  }
  .w-sm-7 {
    max-width: 58.331%;
  }
  .w-sm-8 {
    max-width: 66.664%;
  }
  .w-sm-9 {
    max-width: 74.997%;
  }
  .w-sm-10 {
    max-width: 83.33%;
  }
  .w-sm-11 {
    max-width: 91.663%;
  }
  .w-sm-12 {
    max-width: 99.996%;
  }
}
@media only screen and (min-width: 720px) {
  .w-md-1 {
    max-width: 8.333%;
  }
  .w-md-2 {
    max-width: 16.666%;
  }
  .w-md-3 {
    max-width: 24.999%;
  }
  .w-md-4 {
    max-width: 33.332%;
  }
  .w-md-5 {
    max-width: 41.665%;
  }
  .w-md-6 {
    max-width: 49.998%;
  }
  .w-md-7 {
    max-width: 58.331%;
  }
  .w-md-8 {
    max-width: 66.664%;
  }
  .w-md-9 {
    max-width: 74.997%;
  }
  .w-md-10 {
    max-width: 83.33%;
  }
  .w-md-11 {
    max-width: 91.663%;
  }
  .w-md-12 {
    max-width: 99.996%;
  }
}
@media only screen and (min-width: 1280px) {
  .w-lg-1 {
    max-width: 8.333%;
  }
  .w-lg-2 {
    max-width: 16.666%;
  }
  .w-lg-3 {
    max-width: 24.999%;
  }
  .w-lg-4 {
    max-width: 33.332%;
  }
  .w-lg-5 {
    max-width: 41.665%;
  }
  .w-lg-6 {
    max-width: 49.998%;
  }
  .w-lg-7 {
    max-width: 58.331%;
  }
  .w-lg-8 {
    max-width: 66.664%;
  }
  .w-lg-9 {
    max-width: 74.997%;
  }
  .w-lg-10 {
    max-width: 83.33%;
  }
  .w-lg-11 {
    max-width: 91.663%;
  }
  .w-lg-12 {
    max-width: 99.996%;
  }
}
@media only screen and (min-width: 1980px) {
  .w-xl-1 {
    max-width: 8.333%;
  }
  .w-xl-2 {
    max-width: 16.666%;
  }
  .w-xl-3 {
    max-width: 24.999%;
  }
  .w-xl-4 {
    max-width: 33.332%;
  }
  .w-xl-5 {
    max-width: 41.665%;
  }
  .w-xl-6 {
    max-width: 49.998%;
  }
  .w-xl-7 {
    max-width: 58.331%;
  }
  .w-xl-8 {
    max-width: 66.664%;
  }
  .w-xl-9 {
    max-width: 74.997%;
  }
  .w-xl-10 {
    max-width: 83.33%;
  }
  .w-xl-11 {
    max-width: 91.663%;
  }
  .w-xl-12 {
    max-width: 99.996%;
  }
}
.guides {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  width: 100%;
  display: block;
  pointer-events: none;
  overflow: hidden;
}
.guides .guide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  color: rgba(255, 242, 0, 0.25);
  border-left: 1px solid currentColor;
  pointer-events: none;
}
@media (min-width: 720px) {
  .guides .guide {
    color: rgba(80, 167, 71, 0.25);
  }
}
@media (min-width: 1280px) {
  .guides .guide {
    color: rgba(0, 174, 239, 0.25);
  }
}
.guides .guide:nth-child(1) {
  left: 8.333%;
}
.guides .guide:nth-child(2) {
  left: 16.666%;
}
.guides .guide:nth-child(3) {
  left: 24.999%;
}
.guides .guide:nth-child(4) {
  left: 33.332%;
}
.guides .guide:nth-child(5) {
  left: 41.665%;
}
.guides .guide:nth-child(6) {
  left: 49.998%;
}
.guides .guide:nth-child(7) {
  left: 58.331%;
}
.guides .guide:nth-child(8) {
  left: 66.664%;
}
.guides .guide:nth-child(9) {
  left: 74.997%;
}
.guides .guide:nth-child(10) {
  left: 83.33%;
}
.guides .guide:nth-child(11) {
  left: 91.663%;
}
.guides .guide:nth-child(12) {
  left: 99.996%;
}
.guides .guide:nth-child(13) {
  left: 108.329%;
  margin-left: -1px;
}
.guides .guide:nth-child(14) {
  left: 116.662%;
}
.cell:not(.section):not(.group):not(.matrix):not(.cover):not(
    [class*='compact']
  ):not([class*='loose']):not([class*='bleed']) {
  padding: var(--gutter);
}
.bleed {
  padding: 0;
}
.compact {
  padding: var(--gutter-compact);
}
.compact-h {
  padding-left: var(--gutter-compact);
  padding-right: var(--gutter-compact);
}
.compact-v {
  padding-top: var(--gutter-compact);
  padding-bottom: var(--gutter-compact);
}
.loose {
  padding: var(--gutter-loose);
}
.loose-h {
  padding-left: var(--gutter-loose);
  padding-right: var(--gutter-loose);
}
.loose-v {
  padding-top: var(--gutter-loose);
  padding-bottom: var(--gutter-loose);
}
.self-gutter {
  padding: var(--gutter);
}
.self-gutter-h {
  padding: var(--gutter) 0;
}
.self-gutter-v {
  padding: 0 var(--gutter);
}
.self-compact {
  padding: var(--gutter-compact);
}
.self-compact-h {
  padding: var(--gutter-compact) 0;
}
.self-compact-v {
  padding: 0 var(--gutter-compact);
}
.self-loose {
  padding: var(--gutter-loose);
}
.self-loose-h {
  padding: var(--gutter-loose) 0;
}
.self-loose-v {
  padding: 0 var(--gutter-loose);
}
.self-bleed {
  padding: 0;
}
.gutter > .cell {
  padding: var(--gutter);
}
.gutter-h > .cell {
  padding: var(--gutter) 0;
}
.gutter-v > .cell {
  padding: 0 var(--gutter);
}
.gutter-compact > .cell {
  padding: var(--gutter-compact);
}
.gutter-compact-h > .cell {
  padding: var(--gutter-compact) 0;
}
.gutter-compact-v > .cell {
  padding: 0 var(--gutter-compact);
}
.gutter-loose > .cell {
  padding: var(--gutter-loose);
}
.gutter-loose-h > .cell {
  padding: var(--gutter-loose) 0;
}
.gutter-loose-v > .cell {
  padding: 0 var(--gutter-loose);
}
.gutter-bleed > .cell {
  padding: 0;
}
.relative {
  position: relative;
}
.vh-1 {
  height: 8.333vh;
}
.vh-2 {
  height: 16.666vh;
}
.vh-3 {
  height: 24.999vh;
}
.vh-4 {
  height: 33.332vh;
}
.vh-5 {
  height: 41.665vh;
}
.vh-6 {
  height: 49.998vh;
}
.vh-7 {
  height: 58.331vh;
}
.vh-8 {
  height: 66.664vh;
}
.vh-9 {
  height: 74.997vh;
}
.vh-10 {
  height: 83.33vh;
}
.vh-11 {
  height: 91.663vh;
}
.vh-12 {
  height: 99.996vh;
}
.text-headline {
  font-size: var(--font-size-headline);
  line-height: var(--line-height-headline);
  letter-spacing: var(--letter-spacing-headline);
}
.font-family-mono,
main code,
footer code,
aside code,
.rte code,
form code,
main pre,
footer pre,
aside pre,
.rte pre,
form pre {
  font-family: var(--font-family-mono), monospace;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'ss02' 1, 'zero' 1;
  line-height: inherit;
}
.text-caption {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-caption);
}
.text-sm,
main small,
footer small,
aside small,
.rte small,
form small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-small);
}
.text-sup,
main sup,
footer sup,
aside sup,
.rte sup,
form sup,
.text-sub,
main sub,
footer sub,
aside sub,
.rte sub,
form sub {
  font-size: var(--font-size-legal);
  line-height: var(--line-height-legal);
  letter-spacing: var(--letter-spacing-legal);
}
.text-sub,
main sub,
footer sub,
aside sub,
.rte sub,
form sub {
  vertical-align: sub;
}
.text-sup,
main sup,
footer sup,
aside sup,
.rte sup,
form sup {
  vertical-align: super;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
@media only screen and (max-width: 1279.9px) {
  [class*='hide-'][class*='-compact'] {
    display: none !important;
  }
}
@media only screen and (max-width: 719.9px) {
  [class*='hide-'][class*='-sm']:not([class*='-up']) {
    display: none !important;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1279.9px) {
  [class*='hide-'][class*='-md']:not([class*='-up']) {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1979.9px) {
  [class*='hide-'][class*='-lg']:not([class*='-up']) {
    display: none !important;
  }
}
@media only screen and (min-width: 1980px) {
  [class*='hide-'][class*='-xl']:not([class*='-up']) {
    display: none !important;
  }
}
@media only screen and (max-width: 719.9px) {
  [class*='hide-'][class*='-f'][class*='-sm']:not([class*='-up']) {
    display: none;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1279.9px) {
  [class*='hide-'][class*='-f'][class*='-md']:not([class*='-up']) {
    display: none;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1979.9px) {
  [class*='hide-'][class*='-f'][class*='-lg']:not([class*='-up']) {
    display: none;
  }
}
@media only screen and (min-width: 1980px) {
  [class*='hide-'][class*='-f'][class*='-xl']:not([class*='-up']) {
    display: none;
  }
}
@media only screen and (min-width: 720px) {
  [class*='hide-'][class*='-md'][class*='-up'] {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  [class*='hide-'][class*='-lg'][class*='-up'] {
    display: none !important;
  }
}
@media only screen and (min-width: 1280px) {
  [class*='show-'][class*='compact'] {
    display: none !important;
  }
}
[hidden] {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.srt,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.srt:focus,
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.headline {
  font-size: var(--font-size-headline);
  line-height: var(--line-height-headline);
  letter-spacing: var(--letter-spacing-headline);
  font-weight: var(--font-weight-headline);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family-headers);
  font-weight: normal;
}
h1,
.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
  font-weight: var(--font-weight-h1);
  margin-top: var(--margin-top-h1);
  margin-bottom: var(--margin-bottom-h1);
}
h2,
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
  font-weight: var(--font-weight-h2);
  margin-top: var(--margin-top-h2);
  margin-bottom: var(--margin-bottom-h2);
}
h3,
.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
  font-weight: var(--font-weight-h3);
  margin-top: var(--margin-top-h3);
  margin-bottom: var(--margin-bottom-h3);
}
h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
  font-weight: var(--font-weight-h4);
  margin-top: var(--margin-top-h4);
  margin-bottom: var(--margin-bottom-h4);
}
h5,
.h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  letter-spacing: var(--letter-spacing-h5);
  font-weight: var(--font-weight-h5);
  margin-top: var(--margin-top-h5);
  margin-bottom: var(--margin-bottom-h5);
}
h6,
.h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  letter-spacing: var(--letter-spacing-h6);
  font-weight: var(--font-weight-h6);
  margin-top: var(--margin-top-h6);
  margin-bottom: var(--margin-bottom-h6);
}
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-display: optional;
  font-kerning: normal;
  font-feature-settings: 'case', 'cpsp' 0, 'dlig' 0, 'frac', 'dnom' 0, 'numr' 0,
    'salt' 0, 'subs' 0, 'sups' 0, 'tnum' 0, 'zero', 'ss01', 'ss02' 0, 'ss03' 0,
    'ss04' 0, 'cv01', 'cv02' 0, 'cv03' 0, 'cv04' 0, 'cv05' 0, 'cv06' 0, 'cv07',
    'cv08' 0, 'cv09' 0, 'cv10' 0, 'cv11' 0, 'calt', 'ccmp', 'kern', 'liga';
  font-variant-ligatures: contextual common-ligatures;
  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: var(--text-size-adjust);
  -moz-text-size-adjust: var(--text-size-adjust);
  -webkit-text-size-adjust: var(--text-size-adjust);
  font-family: var(--font-family-body);
  font-size: var(--font-size-min);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  min-height: 0vw;
  color: var(--global-color);
}
@media (min-width: 720px) {
  html {
    font-size: var(--font-size);
  }
}
@media (min-width: 1980px) {
  html {
    font-size: var(--font-size-max);
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}
main address,
footer address,
aside address,
.rte address,
form address {
  display: block;
  font-style: normal;
  white-space: pre-line;
  margin: 0;
  margin-bottom: var(--line-spacing);
}
main blockquote,
footer blockquote,
aside blockquote,
.rte blockquote,
form blockquote {
  padding: 0 0 0 20px;
  margin: 0;
  border: 0;
}
main blockquote p,
footer blockquote p,
aside blockquote p,
.rte blockquote p,
form blockquote p {
  padding-left: 15px;
}
@media (min-width: 48.0625em) {
  main blockquote,
  footer blockquote,
  aside blockquote,
  .rte blockquote,
  form blockquote {
    margin: 0 0 0 -30px;
  }
  main blockquote p,
  footer blockquote p,
  aside blockquote p,
  .rte blockquote p,
  form blockquote p {
    padding-left: 30px;
  }
  main blockquote p:before,
  footer blockquote p:before,
  aside blockquote p:before,
  .rte blockquote p:before,
  form blockquote p:before {
    content: '“';
    float: left;
    clear: both;
    margin-left: -15px;
  }
  main blockquote p:last-child:after,
  footer blockquote p:last-child:after,
  aside blockquote p:last-child:after,
  .rte blockquote p:last-child:after,
  form blockquote p:last-child:after {
    content: '”';
  }
}
main dl dt,
footer dl dt,
aside dl dt,
.rte dl dt,
form dl dt {
  font-weight: 500;
}
main dl dd,
footer dl dd,
aside dl dd,
.rte dl dd,
form dl dd {
  margin-left: calc(1.5rem * var(--line-height));
  margin-bottom: calc(0.5rem * var(--line-height));
}
main hr,
footer hr,
aside hr,
.rte hr,
form hr {
  border: none;
}
main li,
footer li,
aside li,
.rte li,
form li {
  padding: 0;
  margin-left: 0em;
  margin-bottom: calc(0.5rem * var(--line-height));
}
main ul,
main ol,
footer ul,
footer ol,
aside ul,
aside ol,
.rte ul,
.rte ol,
form ul,
form ol {
  list-style-position: outside;
  margin-bottom: calc(1rem * var(--line-height));
}
main ul.compact > li,
main ol.compact > li,
footer ul.compact > li,
footer ol.compact > li,
aside ul.compact > li,
aside ol.compact > li,
.rte ul.compact > li,
.rte ol.compact > li,
form ul.compact > li,
form ol.compact > li {
  margin-bottom: 0;
}
main ul,
footer ul,
aside ul,
.rte ul,
form ul {
  padding-left: calc(1.5rem * var(--line-height));
}
main ul.plain,
footer ul.plain,
aside ul.plain,
.rte ul.plain,
form ul.plain {
  list-style: none;
}
main ul:not([start]),
footer ul:not([start]),
aside ul:not([start]),
.rte ul:not([start]),
form ul:not([start]) {
  list-style: none;
  counter-reset: ol-counter;
  padding-left: 2em;
}
main ul:not([start]) > li::before,
footer ul:not([start]) > li::before,
aside ul:not([start]) > li::before,
.rte ul:not([start]) > li::before,
form ul:not([start]) > li::before {
  content: '▪';
  display: inline-block;
  width: 0.75em;
  margin-left: -0.75em;
  transform: scale(1.5);
}
main ol,
footer ol,
aside ol,
.rte ol,
form ol {
  list-style-position: outside;
}
main ol[start],
footer ol[start],
aside ol[start],
.rte ol[start],
form ol[start] {
  padding-inline-start: 2em;
}
main ol:not([start]),
footer ol:not([start]),
aside ol:not([start]),
.rte ol:not([start]),
form ol:not([start]) {
  list-style: none;
  counter-reset: ol-counter;
  padding-left: 2em;
}
main ol:not([start]) > li,
footer ol:not([start]) > li,
aside ol:not([start]) > li,
.rte ol:not([start]) > li,
form ol:not([start]) > li {
  counter-increment: ol-counter;
  position: relative;
}
main ol:not([start]) > li::before,
footer ol:not([start]) > li::before,
aside ol:not([start]) > li::before,
.rte ol:not([start]) > li::before,
form ol:not([start]) > li::before {
  content: counter(ol-counter) '. ';
  font-weight: 500;
  font-variant-numeric: tabular-nums;
  position: absolute;
  --space: 0.5em;
  --width: calc($list-indentation - var(--space));
  left: calc(-1 * (var(--width) + var(--space)));
  width: var(--width);
  height: var(--lineHeight);
  text-align: left;
}
main p,
footer p,
aside p,
.rte p,
form p {
  margin: 0;
  margin-bottom: var(--line-spacing);
}
main p:last-child,
footer p:last-child,
aside p:last-child,
.rte p:last-child,
form p:last-child {
  margin-bottom: unset;
}
main pre,
footer pre,
aside pre,
.rte pre,
form pre {
  white-space: pre-wrap;
  line-break: loose;
  overflow-x: auto;
}
main a,
footer a,
aside a,
.rte a,
form a {
  color: inherit;
  text-decoration: none;
}
main a[href],
footer a[href],
aside a[href],
.rte a[href],
form a[href] {
  cursor: pointer;
  color: var(--anchor-color);
  background-color: var(--anchor-background);
  text-decoration: var(--text-decoration);
  text-underline-offset: var(--text-decoration-offset);
  text-decoration-skip-ink: var(--text-decoration-skip-ink);
}
main a[href]:hover,
footer a[href]:hover,
aside a[href]:hover,
.rte a[href]:hover,
form a[href]:hover {
  text-decoration: var(--text-decoration-hover);
  text-decoration-thickness: 0.06em;
  color: var(--anchor-color-hover);
  background-color: var(--anchor-background-hover);
}
main a[href]:focus,
footer a[href]:focus,
aside a[href]:focus,
.rte a[href]:focus,
form a[href]:focus {
  outline: 2px dotted rgba(0, 0, 0, 0);
  outline-offset: -2px;
  text-decoration: underline 1px dotted currentColor;
  text-decoration-skip-ink: none;
}
main a[href]:visited,
footer a[href]:visited,
aside a[href]:visited,
.rte a[href]:visited,
form a[href]:visited {
  text-decoration: line-through dashed;
}
main a[href]:active,
footer a[href]:active,
aside a[href]:active,
.rte a[href]:active,
form a[href]:active {
  text-decoration-thickness: 0.09em;
}
main abbr,
footer abbr,
aside abbr,
.rte abbr,
form abbr {
  cursor: help;
  text-decoration: none;
}
main b,
footer b,
aside b,
.rte b,
form b {
  font-weight: var(--font-weight-bold);
}
main .b-500,
footer .b-500,
aside .b-500,
.rte .b-500,
form .b-500 {
  font-weight: 500;
}
main .b-600,
footer .b-600,
aside .b-600,
.rte .b-600,
form .b-600 {
  font-weight: 600;
}
main .b-700,
footer .b-700,
aside .b-700,
.rte .b-700,
form .b-700 {
  font-weight: 700;
}
main .b-800,
footer .b-800,
aside .b-800,
.rte .b-800,
form .b-800 {
  font-weight: 800;
}
main .b-900,
footer .b-900,
aside .b-900,
.rte .b-900,
form .b-900 {
  font-weight: 900;
}
main cite,
footer cite,
aside cite,
.rte cite,
form cite {
  font-style: italic;
}
main code,
footer code,
aside code,
.rte code,
form code {
  display: block;
  border-radius: 1px;
  padding: 0.5em 0;
  overflow: auto;
}
main dfn,
footer dfn,
aside dfn,
.rte dfn,
form dfn {
  font-style: italic;
  font-weight: 500;
}
main em,
footer em,
aside em,
.rte em,
form em {
  font-style: italic;
}
main oblique,
footer oblique,
aside oblique,
.rte oblique,
form oblique {
  font-style: oblique;
}
main i,
footer i,
aside i,
.rte i,
form i {
  font-style: italic;
}
main img,
footer img,
aside img,
.rte img,
form img {
  max-width: 100%;
  height: auto;
  width: auto;
}
main kbd,
footer kbd,
aside kbd,
.rte kbd,
form kbd {
  -moz-font-feature-settings: 'liga' 1, 'calt' 1, 'kern' 1, 'case' 1;
  -ms-font-feature-settings: 'liga' 1, 'calt' 1, 'kern' 1, 'case' 1;
  -o-font-feature-settings: 'liga' 1, 'calt' 1, 'kern' 1, 'case' 1;
  -webkit-font-feature-settings: 'liga' 1, 'calt' 1, 'kern' 1, 'case' 1;
  font-feature-settings: 'liga' 1, 'calt' 1, 'kern' 1, 'case' 1;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  padding: 0.1em 0.2em;
  margin: 0 0.1em;
}
main q,
footer q,
aside q,
.rte q,
form q {
  display: inline;
  white-space: pre-wrap;
}
main q::before,
footer q::before,
aside q::before,
.rte q::before,
form q::before {
  content: '';
}
main q::after,
footer q::after,
aside q::after,
.rte q::after,
form q::after {
  content: '';
}
main strong,
footer strong,
aside strong,
.rte strong,
form strong {
  font-weight: var(--font-weight-bold);
}
main u,
footer u,
aside u,
.rte u,
form u {
  text-decoration: underline 1.5px solid;
  text-underline-offset: 2px;
  text-decoration-skip-ink: all;
}
form {
  background: var(--form--background-color);
}
form label {
  appearance: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
form fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
form fieldset > *:not(:last-child) {
  margin-bottom: var(--line-spacing);
}
form fieldset legend {
  display: block;
  width: 100%;
}
button {
  text-align: center;
  text-indent: 0;
  vertical-align: top;
  text-indent: 0;
  cursor: pointer;
  white-space: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
}
button svg {
  fill: currentColor;
}
[type='button'],
[type='reset'],
[type='submit'] {
  position: relative;
  width: var(--form-button-width);
  color: var(--form-button-color);
  padding: var(--form-button-padding);
  margin: 0;
  border-style: var(--form-button-border-style);
  border-width: var(--form-button-border-width);
  border-color: var(--form-button-border-color);
  border-radius: var(--form-button-border-radius);
  outline-style: var(--form-button-outline-style, dashed);
  outline-width: var(--form-button-outline-width, 1px);
  outline-color: var(--form-button-outline-color, transparent);
  outline-offset: var(--form-button-outline-offset, 0px);
  background-color: var(--form-button-background-color);
  box-shadow: var(--form-button-box-shadow);
}
[type='button']:link,
[type='button']:visited,
[type='button']:active,
[type='button']:hover,
[type='reset']:link,
[type='reset']:visited,
[type='reset']:active,
[type='reset']:hover,
[type='submit']:link,
[type='submit']:visited,
[type='submit']:active,
[type='submit']:hover {
  color: var(--form-button-color);
  text-decoration: none;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border: 0;
}
[type='button']:focus,
[type='reset']:focus,
[type='submit']:focus {
  border-color: var(--form-button-border-color-focus);
  color: var(--form-button-color-focus);
  background-color: var(--form-button-background-color);
  outline: var(--form-button-outline-width-focus)
    var(--form-button-outline-style-focus)
    var(--form-button-outline-color-focus);
  outline-offset: var(--form-button-outline-offset-focus);
  box-shadow: var(--form-button-box-shadow);
}
[type='button']:focus:not(:active):not(:hover),
[type='reset']:focus:not(:active):not(:hover),
[type='submit']:focus:not(:active):not(:hover) {
  border-color: var(--global-color-yellow);
  color: var(--global-color-black);
  background-color: var(--global-color-yellow);
  box-shadow: 0 2px 0 var(--global-color-black);
}
[type='button']:hover,
[type='reset']:hover,
[type='submit']:hover {
  cursor: pointer;
  color: var(--form-button-color-hover);
  background-color: var(--form-button-background-color-hover);
}
[type='button']:visited,
[type='reset']:visited,
[type='submit']:visited {
  text-decoration: none;
}
[type='button']:active,
[type='reset']:active,
[type='submit']:active {
  color: var(--form-button-color-active);
  top: var(--form-button-active-depth);
}
[type='button']:before,
[type='reset']:before,
[type='submit']:before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background: rgba(0, 0, 0, 0);
}
[type='button']:active:before,
[type='reset']:active:before,
[type='submit']:active:before {
  top: -4px;
}
[type='button'][disabled='disabled'],
[type='reset'][disabled='disabled'],
[type='submit'][disabled='disabled'] {
  opacity: 0.5;
}
[type='button'][disabled='disabled']:hover,
[type='reset'][disabled='disabled']:hover,
[type='submit'][disabled='disabled']:hover {
  background-color: var(--global-color-green);
  cursor: default;
}
[type='button'][disabled='disabled']:active,
[type='reset'][disabled='disabled']:active,
[type='submit'][disabled='disabled']:active {
  top: 0;
  box-shadow: 0 2px 0 #002d18;
}
@media print {
  [type='button'] button,
  [type='reset'] button,
  [type='submit'] button {
    font-family: sans-serif;
  }
}
input,
button,
select,
textarea {
  font-family: var(--form-font-family);
  font-size: var(--form-font-size);
  line-height: var(--form-line-height);
}
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus {
  outline: var(--form-input-border-width-focus)
    var(--form-input-border-style-focus);
  outline-offset: var(--form-input-outline-offset-focus);
}
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'] {
  padding: var(--form-input-padding);
  border-style: var(--form-input-border-style);
  border-width: var(--form-input-border-width);
  border-color: var(--form-input-border-color);
  border-radius: var(--form-input-border-radius);
  outline-style: var(--form-input-outline-style, dashed);
  outline-width: var(--form-input-outline-width, 1.5px);
  outline-color: var(--form-input-outline-color, currentColor);
  outline-offset: var(--form-input-outline-offset, 0px);
  background-color: var(--form-input-background-color);
  box-shadow: var(--form-input-box-shadow);
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus {
  border-style: var(--form-input-border-style-focus);
  border-width: var(--form-input-border-width-focus);
  border-color: var(--form-input-border-color-focus);
  border-radius: var(--form-input-border-radius-focus);
  outline-style: var(--form-input-outline-style-focus, dashed);
  outline-width: var(--form-input-outline-width-focus, 1.5px);
  outline-color: var(--form-input-outline-color-focus, currentColor);
  outline-offset: var(--form-input-outline-offset-focus, -4px);
  background-color: var(--form-input-background-color-focus);
  box-shadow: var(--form-input-box-shadow-focus);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='search']::-webkit-search-decoration {
  display: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radioitem {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: calc(var(--form-radio-size, 44px) * 1.25);
  clear: left;
}
.radioitem:last-of-type {
  margin-bottom: 0;
}
.radioitem input[type='radio'] {
  flex: 0 1 auto;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: var(--form-radio-size, 44px);
  height: var(--form-radio-size, 44px);
  margin: 0;
  opacity: 0;
}
.radioitem input[type='radio']:checked ~ label::after {
  transform: scale(0.6);
  opacity: 1;
}
.radioitem input[type='radio']:focus ~ label:before {
  border-width: 4px;
  outline: 3px solid rgba(0, 0, 0, 0);
  outline-offset: 1px;
  box-shadow: 0 0 0 4px var(--global-color-yellow);
}
.radioitem input[type='radio']:disabled ~ label {
  cursor: default;
  opacity: 0.5;
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  .radioitem input[type='radio']:focus + label:before {
    outline-color: Highlight;
  }
}
.radioitem label {
  flex: 1;
  padding-left: var(--gutter);
}
.radioitem label:before,
.radioitem label:after {
  content: '';
  position: absolute;
  top: calc(50% - var(--form-radio-size, 44px) * 0.5);
  left: 0;
  width: var(--form-radio-size, 44px);
  height: var(--form-radio-size, 44px);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
}
.radioitem label:before {
  border-color: var(--global-color-gray);
  background: var(--global-color-gray);
}
.radioitem label:after {
  transform: scale(0.1);
  opacity: 0;
  background: var(--global-color-black);
  transition: transform 0.2s ease-out;
}
input[type='search']::-webkit-search-decoration {
  display: none;
}
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  resize: vertical;
}
.icon {
  position: relative;
  display: inline-flex;
}
.icon svg,
.icon img,
.icon i {
  height: 1em;
  width: 1em;
  fill: currentColor;
}
.icon i {
  position: relative;
}
.icon.baseline svg,
.icon.baseline img {
  top: 0.125em;
  position: relative;
}
.icon-txt {
  display: inline-flex;
  min-width: 0px;
  max-width: 100%;
}
.icon-txt .icon {
  top: 0.125em;
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  flex: 1 0 auto;
}
.icon-txt.nowrap .txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table {
  width: 100%;
  min-width: 240px;
  border-collapse: collapse;
}
table thead,
table tbody {
  color: currentColor;
  border: 1px solid;
}
table th {
  font-family: inherit;
  font-weight: 500;
}
table td,
table th {
  padding: calc(0.5 * var(--gutter));
  border: 1px solid var(--table-border-width);
  text-align: center;
  line-height: 2;
  vertical-align: middle;
  word-break: normal;
}
table caption {
  font-weight: 500;
  text-align: left;
  margin-bottom: var(--gutter);
  color: currentColor;
}
table {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  width: 100%;
  margin: var(--gutter) 0;
}
table caption {
  text-align: left;
  margin-bottom: 0.5em;
}
table th,
table td {
  vertical-align: top;
  padding: 10px 10px 10px 0;
  border-bottom: solid 1px #b1b4b6;
}
table th {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  text-align: left;
}
@media print {
  table {
    font-family: sans-serif;
  }
}
body {
  background-color: var(--global-color-background);
}
.txt {
  position: relative;
  max-width: 100%;
  display: inline-grid;
  grid-auto-columns: minmax(0, max-content) minmax(0, auto);
  grid-auto-flow: column;
  column-gap: 0.25em;
  align-items: flex-start;
  vertical-align: bottom;
}
.txt > * {
  line-height: var(--line-height);
}
.txt i {
  display: inline-grid;
  pointer-events: none;
  width: 1em;
  height: 1em;
  color: currentColor;
  text-align: center;
  margin: auto 0;
}
.txt i > * {
  grid-area: 1/-1;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  fill: currentColor;
}
.txt.block {
  display: grid;
}
.txt.nw > :not(i) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.txt.nw.active {
  overflow: visible;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-color: #010101;
}
main {
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 6px rgba(14, 16, 46, 0.15));
  width: 90vw;
  max-width: 640px;
  color: currentColor;
}
#logo .rte {
  text-align: center;
  font-size: 26px;
  line-height: 1;
}
@media (max-width: 960px) {
  #logo .rte {
    font-size: 22px;
  }
}
#logo .rte .tag {
  display: inline-block;
  margin: 0.25rem;
  color: #ffd3df;
  font-style: italic;
  font-weight: 700;
}
#logo .email svg {
  transform: scale(0.8);
}
#network {
  z-index: 2;
  display: flex;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
@media (max-width: 960px) {
  #network {
    margin-top: 2rem;
  }
}
#network .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0px 0px 6px rgba(14, 16, 46, 0.15));
}
#network .txt {
  margin: 0.25rem;
}
#network .txt i {
  border: 1px solid rgba(2, 18, 46, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 100%;
  transition: all 0.3s ease;
  background-color: #e64ba9;
  padding: 5px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
#network .txt:hover i {
  box-shadow: 0 0 0 5px #ffd3df;
  transform: scale(1.1);
}
#network button {
  font: inherit;
  color: currentColor;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
#network button:hover {
  text-decoration: underline 2px solid currentColor;
  text-underline-offset: 2px;
}
#network button:hover .value::before {
  content: 'pause';
}
#loop {
  display: grid;
}
#loop > * {
  position: relative;
  grid-area: 1/-1;
}
html.loaded #loop {
  transition: opacity 1s ease 0.25s, transform 0.75s ease;
  will-change: opacity, transform;
}
html.is-scrolling #loop video {
  opacity: 0;
}
#loop .overlay {
  z-index: 2;
  background-color: rgba(67, 4, 72, 0.5);
  background-blend-mode: screen;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGDwZWBg2MwABYwwBjYBsEoMFQBRVgIFVij/xwAAAABJRU5ErkJggg==');
}
#loop .cell {
  width: 100%;
  height: 100%;
}
#loop .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.video-time {
  cursor: pointer;
  color: currentColor;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.video-time .value::before {
  content: attr(time);
}
.video-time:hover {
  text-decoration: underline 2px solid currentColor;
  text-underline-offset: 2px;
}
.video-time:hover .value::before {
  content: 'pause';
}
body {
  color: var(--global-color);
  background-color: var(--global-color-background);
} /*# sourceMappingURL=styles.css.map */
