@import url('/public/fonts/relative/relative.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* font - families */
html {
  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --font-family-sans: 'Inter', var(--sans);

  --font-family-serif: 'Inter', 'Chaplin', sans-serif;

  --font-family-mono: monospaced;

  --font-family-headline: 'Inter', var(--sans);

  --font-family-headers: 'Inter', var(--sans);
}

/* font - text */
html {
  --font-family-body: var(--font-family-sans);
  --font-family-caption: 'relative', var(--font-family-sans);

  --font-size-min: 18px;
  --font-size: 24px;
  --font-size-max: 34px;
  --line-height: 1.416;
  --letter-spacing: -0.017em;
  --line-spacing: 0.95em;

  --font-weight: normal;
  --font-weight-bold: 500;
  --font-weight-bolder: 700;

  --text-size-adjust: 100%;

  --font-size-caption: 87.5%;
  --line-height-caption: 1.375;
  --letter-spacing-caption: -0.012em;

  --font-size-small: 0.7rem;
  --line-height-small: 1.375;
  --letter-spacing-small: -0.012em;

  --font-size-legal: 0.65em;
  --line-height-legal: 1.375;
  --letter-spacing-legal: -0.012em;
}

/* color */
html {
  --color-scheme: dark;

  --global-color-red: #be1e2d;
  --global-color-green: #74a466;
  --global-color-blue: #21409a;

  --global-color-cyan: #14e6e6;
  --global-color-magenta: #f2719b;
  --global-color-yellow: #ffde17;
  --global-color-black: #222222;

  --global-color-white: #fffafa;
  --global-color-orange: #de4500;

  --global-color-light-gray: #f0f0f0;
  --global-color-gray: #f5f5f5;
  --global-color-dark-gray: #696969;

  --global-color: #e0edff;
  --global-color-accent: #fff;
  --global-color-background: #010101;
}

/* widths */
html {
  --window-height: 1vh;
  --window-width: 1vw;

  --max-width: 960px;
  --max-width-wide: 1280px;
  --max-width-ch: 40ch;
}

@media (min-width: var(--break-md, 720px)) {
  html {
    --max-width: 960px;
    --max-width-ch: 35ch;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  html {
    --max-width-wide: 1920px;
  }
}

/* gutter */
html {
  --gutter-compact: 10px;
  --gutter: 20px;
  --gutter-loose: 30px;
}

@media (min-width: var(--break-md, 720px)) {
  html {
    --gutter-compact: 20px;
    --gutter: 30px;
    --gutter-loose: 40px;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  html {
    --gutter-compact: 30px;
    --gutter: 40px;
    --gutter-loose: 55px;
  }
}

a[href] {
  --anchor-color: inherit;
  --anchor-color-hover: inherit;
  --anchor-background: transparent;
  --anchor-background-hover: transparent;

  --text-decoration: 1.5px dotted underline;
  --text-decoration-hover: 1.5px solid underline;
  --text-decoration-offset: 2px;
  --text-decoration-skip-ink: auto;
}

.headline {
  --font-size-headline: 2.25rem;
  --line-height-headline: 1.25;
  --letter-spacing-headline: -0.02em;
  --font-weight-headline: 500;
}

@media (min-width: var(--break-md, 720px)) {
  .headline {
    --font-size-headline: 2.45rem;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  .headline {
    --font-size-headline: 2.65rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-size-h1: 2rem;
  --line-height-h1: 1.1;
  --letter-spacing-h1: -0.009em;
  --font-weight-h1: 500;
  --margin-bottom-h1: 0.5em;
  --margin-top-h1: 0.5em;

  --font-size-h2: 1.6rem;
  --line-height-h2: 1.4;
  --letter-spacing-h2: -0.021em;
  --font-weight-h2: 500;

  --font-size-h3: 1.3rem;
  --line-height-h3: 1.416;
  --letter-spacing-h3: normal;
  --font-weight-h3: 500;
  --margin-bottom-h3: 0.5em;

  --font-size-h4: 1.222rem;
  --line-height-h4: 1.363;
  --letter-spacing-h4: normal;
  --font-weight-h4: 400;

  --font-size-h5: 1.15rem;
  --line-height-h5: 1.4;
  --letter-spacing-h5: normal;
  --font-weight-h5: 700;
  --margin-bottom-h3: 0.25em;

  --font-size-h6: var(--font-size-min);
  --font-weight-h6: 500;
  --letter-spacing-h6: normal;
}

table {
  --table-border-color: var(--global-color-light-gray);
  --table-border-width: 1px;
}

form,
button,
datalist,
fieldset,
input,
label,
legend,
meter,
select,
output,
progress,
textarea {
  /* wrapper */

  --form-font-family: inherit;
  --form-font-size: inherit;
  --form-line-height: inherit;

  --form--background-color: transparent;

  /* inputs */

  --form-input-padding: 10px;

  --form-input-border-color: currentColor;
  --form-input-border-color-focus: currentColor;
  --form-input-border-style: solid;
  --form-input-border-style-focus: solid;
  --form-input-border-width: 2px;
  --form-input-border-width-focus: 2px;

  --form-input-border-radius: 0;

  --form-input-box-shadow: inset 0 0 0 2px transparent;
  --form-input-box-shadow-focus: inset 0 0 0 2px;

  --form-input-outline-color: inherit;
  --form-input-outline-color-focus: var(--global-color-yellow);
  --form-input-outline-style: solid;
  --form-input-outline-style-focus: solid;
  --form-input-outline-offset: 0;
  --form-input-outline-offset-focus: 0;
  --form-input-outline-width: 3px;
  --form-input-outline-width-focus: 3px;

  --form-input-background-color: #eee;
  --form-input-background-color-focus: #eee;

  /* buttons */

  --form-button-border-color: transparent;
  --form-button-border-color-focus: transparent;
  --form-button-border-style: solid;
  --form-button-border-style-focus: solid;
  --form-button-border-width: 2px;
  --form-button-border-width-focus: 2px;
  --form-button-border-radius: 0;

  --form-button-outline-color: transparent;
  --form-button-outline-color-focus: currentColor;
  --form-button-outline-style: dashed;
  --form-button-outline-style-focus: dashed;
  --form-button-outline-offset: -5px;
  --form-button-outline-offset-focus: -5px;
  --form-button-outline-width: 3px;
  --form-button-outline-width-focus: 3px;

  --form-button-background-color: var(--global-color-green);
  --form-button-background-color-focus: var(--global-color-green);

  --form-button-active-depth: 2px;

  /* radio */
  --form-radio-size: 44px;
}
