@import url('/public/fonts/relative/relative.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* font - families */
html {
  --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --font-family-sans: 'Inter', var(--sans);

  --font-family-serif: 'Inter', 'Chaplin', sans-serif;

  --font-family-mono: monospaced;

  --font-family-headline: 'Inter', var(--sans);

  --font-family-headers: 'Inter', var(--sans);
}

/* font - text */
html {
  --font-family-body: var(--font-family-sans);
  --font-family-caption: 'relative', var(--font-family-sans);

  --font-size-min: 18px;
  --font-size: 24px;
  --font-size-max: 34px;
  --line-height: 1.416;
  --letter-spacing: -0.017em;
  --line-spacing: 0.95em;

  --font-weight: normal;
  --font-weight-bold: 500;
  --font-weight-bolder: 700;

  --text-size-adjust: 100%;

  --font-size-caption: 87.5%;
  --line-height-caption: 1.375;
  --letter-spacing-caption: -0.012em;

  --font-size-small: 0.7rem;
  --line-height-small: 1.375;
  --letter-spacing-small: -0.012em;

  --font-size-legal: 0.65em;
  --line-height-legal: 1.375;
  --letter-spacing-legal: -0.012em;
}

/* color */
html {
  --color-scheme: dark;

  --global-color-red: #be1e2d;
  --global-color-green: #74a466;
  --global-color-blue: #21409a;

  --global-color-cyan: #14e6e6;
  --global-color-magenta: #f2719b;
  --global-color-yellow: #ffde17;
  --global-color-black: #222222;

  --global-color-white: #fffafa;
  --global-color-orange: #de4500;

  --global-color-light-gray: #f0f0f0;
  --global-color-gray: #f5f5f5;
  --global-color-dark-gray: #696969;

  --global-color: #e0edff;
  --global-color-accent: #fff;
  --global-color-background: #010101;
}

/* widths */
html {
  --window-height: 1vh;
  --window-width: 1vw;

  --max-width: 960px;
  --max-width-wide: 1280px;
  --max-width-ch: 40ch;
}

@media (min-width: var(--break-md, 720px)) {
  html {
    --max-width: 960px;
    --max-width-ch: 35ch;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  html {
    --max-width-wide: 1920px;
  }
}

/* gutter */
html {
  --gutter-compact: 10px;
  --gutter: 20px;
  --gutter-loose: 30px;
}

@media (min-width: var(--break-md, 720px)) {
  html {
    --gutter-compact: 20px;
    --gutter: 30px;
    --gutter-loose: 40px;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  html {
    --gutter-compact: 30px;
    --gutter: 40px;
    --gutter-loose: 55px;
  }
}

a[href] {
  --anchor-color: inherit;
  --anchor-color-hover: inherit;
  --anchor-background: transparent;
  --anchor-background-hover: transparent;

  --text-decoration: 1.5px dotted underline;
  --text-decoration-hover: 1.5px solid underline;
  --text-decoration-offset: 2px;
  --text-decoration-skip-ink: auto;
}

.headline {
  --font-size-headline: 2.25rem;
  --line-height-headline: 1.25;
  --letter-spacing-headline: -0.02em;
  --font-weight-headline: 500;
}

@media (min-width: var(--break-md, 720px)) {
  .headline {
    --font-size-headline: 2.45rem;
  }
}

@media (min-width: var(--break-lg, 1280px)) {
  .headline {
    --font-size-headline: 2.65rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-size-h1: 2rem;
  --line-height-h1: 1.1;
  --letter-spacing-h1: -0.009em;
  --font-weight-h1: 500;
  --margin-bottom-h1: 0.5em;
  --margin-top-h1: 0.5em;

  --font-size-h2: 1.6rem;
  --line-height-h2: 1.4;
  --letter-spacing-h2: -0.021em;
  --font-weight-h2: 500;

  --font-size-h3: 1.3rem;
  --line-height-h3: 1.416;
  --letter-spacing-h3: normal;
  --font-weight-h3: 500;
  --margin-bottom-h3: 0.5em;

  --font-size-h4: 1.222rem;
  --line-height-h4: 1.363;
  --letter-spacing-h4: normal;
  --font-weight-h4: 400;

  --font-size-h5: 1.15rem;
  --line-height-h5: 1.4;
  --letter-spacing-h5: normal;
  --font-weight-h5: 700;
  --margin-bottom-h3: 0.25em;

  --font-size-h6: var(--font-size-min);
  --font-weight-h6: 500;
  --letter-spacing-h6: normal;
}

table {
  --table-border-color: var(--global-color-light-gray);
  --table-border-width: 1px;
}

form,
button,
datalist,
fieldset,
input,
label,
legend,
meter,
select,
output,
progress,
textarea {
  /* wrapper */

  --form-font-family: inherit;
  --form-font-size: inherit;
  --form-line-height: inherit;

  --form--background-color: transparent;

  /* inputs */

  --form-input-padding: 10px;

  --form-input-border-color: currentColor;
  --form-input-border-color-focus: currentColor;
  --form-input-border-style: solid;
  --form-input-border-style-focus: solid;
  --form-input-border-width: 2px;
  --form-input-border-width-focus: 2px;

  --form-input-border-radius: 0;

  --form-input-box-shadow: inset 0 0 0 2px transparent;
  --form-input-box-shadow-focus: inset 0 0 0 2px;

  --form-input-outline-color: inherit;
  --form-input-outline-color-focus: var(--global-color-yellow);
  --form-input-outline-style: solid;
  --form-input-outline-style-focus: solid;
  --form-input-outline-offset: 0;
  --form-input-outline-offset-focus: 0;
  --form-input-outline-width: 3px;
  --form-input-outline-width-focus: 3px;

  --form-input-background-color: #eee;
  --form-input-background-color-focus: #eee;

  /* buttons */

  --form-button-border-color: transparent;
  --form-button-border-color-focus: transparent;
  --form-button-border-style: solid;
  --form-button-border-style-focus: solid;
  --form-button-border-width: 2px;
  --form-button-border-width-focus: 2px;
  --form-button-border-radius: 0;

  --form-button-outline-color: transparent;
  --form-button-outline-color-focus: currentColor;
  --form-button-outline-style: dashed;
  --form-button-outline-style-focus: dashed;
  --form-button-outline-offset: -5px;
  --form-button-outline-offset-focus: -5px;
  --form-button-outline-width: 3px;
  --form-button-outline-width-focus: 3px;

  --form-button-background-color: var(--global-color-green);
  --form-button-background-color-focus: var(--global-color-green);

  --form-button-active-depth: 2px;

  /* radio */
  --form-radio-size: 44px;
}

body {
  background-color: var(--global-color-background);
}
.txt {
  position: relative;
  max-width: 100%;
  display: inline-grid;
  grid-auto-columns: minmax(0, max-content) minmax(0, auto);
  grid-auto-flow: column;
  column-gap: 0.25em;
  align-items: flex-start;
  vertical-align: bottom;
}
.txt > * {
  line-height: var(--line-height);
}
.txt i {
  display: inline-grid;
  pointer-events: none;
  width: 1em;
  height: 1em;
  color: currentColor;
  text-align: center;
  margin: auto 0;
}
.txt i > * {
  grid-area: 1/-1;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: auto;
  fill: currentColor;
}
.txt.block {
  display: grid;
}
.txt.nw > :not(i) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.txt.nw.active {
  overflow: visible;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  background-color: #010101;
}
main {
  width: 100%;
  height: 100%;
}
#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 6px rgba(14, 16, 46, 0.15));
  width: 90vw;
  max-width: 640px;
  color: currentColor;
}
#logo .rte {
  text-align: center;
  font-size: 26px;
  line-height: 1;
}
@media (max-width: 960px) {
  #logo .rte {
    font-size: 22px;
  }
}
#logo .rte .tag {
  display: inline-block;
  margin: 0.25rem;
  color: #ffd3df;
  font-style: italic;
  font-weight: 700;
}
#logo .email svg {
  transform: scale(0.8);
}
#network {
  z-index: 2;
  display: flex;
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
@media (max-width: 960px) {
  #network {
    margin-top: 2rem;
  }
}
#network .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: drop-shadow(0px 0px 6px rgba(14, 16, 46, 0.15));
}
#network .txt {
  margin: 0.25rem;
}
#network .txt i {
  border: 1px solid rgba(2, 18, 46, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 100%;
  transition: all 0.3s ease;
  background-color: #e64ba9;
  padding: 5px;
  border-radius: 100%;
  width: 35px;
  height: 35px;
}
#network .txt:hover i {
  box-shadow: 0 0 0 5px #ffd3df;
  transform: scale(1.1);
}
#network button {
  font: inherit;
  color: currentColor;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
#network button:hover {
  text-decoration: underline 2px solid currentColor;
  text-underline-offset: 2px;
}
#network button:hover .value::before {
  content: 'pause';
}
#loop {
  display: grid;
}
#loop > * {
  position: relative;
  grid-area: 1/-1;
}
html.loaded #loop {
  transition: opacity 1s ease 0.25s, transform 0.75s ease;
  will-change: opacity, transform;
}
html.is-scrolling #loop video {
  opacity: 0;
}
#loop .overlay {
  z-index: 2;
  background-color: rgba(67, 4, 72, 0.5);
  background-blend-mode: screen;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2NkYGDwZWBg2MwABYwwBjYBsEoMFQBRVgIFVij/xwAAAABJRU5ErkJggg==');
}
#loop .cell {
  width: 100%;
  height: 100%;
}
#loop .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.video-time {
  cursor: pointer;
  color: currentColor;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.video-time .value::before {
  content: attr(time);
}
.video-time:hover {
  text-decoration: underline 2px solid currentColor;
  text-underline-offset: 2px;
}
.video-time:hover .value::before {
  content: 'pause';
}
body {
  color: var(--global-color);
  background-color: var(--global-color-background);
} /*# sourceMappingURL=styles.css.map */

:root,
*::before,
*::after {
  --break-xl: $break_xl;
  --break-lg: $break_lg;
  --break-md: $break_md;
  --break-sm: $break_sm;
  --break-compact: $break_md;
}
.cell {
  --plyr-color-main: var(--global-color-accent);
  --plyr-control-icon-size: 1em;
  --plyr-control-spacing: 0.5em;
  --plyr-control-padding: 0.25em;
  --plyr-control-radius: 0px;
}
.cell.cover {
  flex: 1 1 auto;
  padding: 0;
}
.cell.cover.cover-full .media {
  height: 100vh;
  height: calc(var(--window-height, 1vh) * 100);
}
.cell.cover.cover-peak .media {
  height: 85vh;
  height: calc(var(--window-height, 1vh) * 85);
}
.cell.cover.cover-loose .media {
  height: 85vh;
  height: calc(var(--window-height, 1vh) * 70);
}
.cell.cover.cover-banner .media {
  height: 55vh;
  height: calc(var(--window-height, 1vh) * 55);
  min-height: 480px;
}
.cell.cover .media video,
.cell.cover .media img,
.cell.cover .media svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cell.cover .media::after {
  display: none;
}
img,
input[type='image'],
video,
embed,
iframe,
marquee,
object,
table {
  aspect-ratio: attr(width) / attr(height);
}
figure {
  padding: 0;
  margin: 0;
}
figure:not([class*='-str']) {
  margin: 0;
}
figure .media {
  position: relative;
  line-height: 0;
  background-color: rgba(150, 150, 150, 0.1);
  background-color: var(--cell-media-background, rgba(150, 150, 150, 0.1));
}
figure .media img,
figure .media iframe,
figure .media video,
figure .media audio {
  width: 100%;
  height: auto;
  object-position: center;
}
figure .media .plyr {
  width: 100%;
  height: 100%;
}
figure .media::after {
  content: '';
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 3;
  width: 2rem;
  height: 2rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+DQoJPHBhdGggZmlsbD0iIzI4MkMyNiINCgkJZD0iTTI3LjQgMjAuNGMtMS4xIDAtMi4zLS4xLTMuNCAwLS41IDAtLjctLjItLjctLjcuMS0yLjMuMS00LjYuMS02LjkgMC0uNS4yLS42LjctLjYgMi4zLjEgNC42LjEgNi45LjEuNSAwIC42LjIuNi43LS4xIDIuMy0uMSA0LjYtLjEgNyAwIC41LS4zLjYtLjcuNi0xLjItLjItMi4zLS4yLTMuNC0uMnpNMTUuOSAxMi4xYzIuMyAwIDQuMiAxLjggNC4xIDMuOSAwIDIuNi0xLjcgNC40LTQuMiA0LjQtMi40IDAtNC4xLTEuOS00LjEtNC4zIDAtMS45IDEuOS00LjEgNC4yLTR6TTQuOCAxMi40Yy42LjUuOSAxLjIgMS4yIDEuOGwzLjMgNS40Yy4zLjUuNC44LS40LjgtMi42IDAtNS4yLjEtNy44LjEtLjIgMC0uNS4xLS43LS4yLS4yLS4zLjEtLjQuMi0uN0wyLjcgMTZsMi4xLTMuNnoiIC8+DQo8L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 2rem;
  transition: all 0.35s ease;
  opacity: 0;
  pointer-events: none;
}
figure figcaption {
  font-family: 'Times New Roman', 'serif';
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  letter-spacing: var(--letter-spacing-caption);
  width: 100%;
  margin-top: calc(0.85rem * var(--line-height));
  cursor: default;
  transition: opacity 0.45s ease;
  will-change: opacity;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
figure.embed:not(.self) .media > *,
figure.image:not(.self) .media > *,
figure.video:not(.self) .media > * {
  opacity: 0;
  animation: fade-in 0.4s ease;
  -webkit-animation: fade-in 0.4s ease;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
figure.embed:not(.self) .media::after,
figure.image:not(.self) .media::after,
figure.video:not(.self) .media::after {
  opacity: 1;
}
figure.embed.loaded .media > *,
figure.image.loaded .media > *,
figure.video.loaded .media > * {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}
figure.embed.loaded .media::after,
figure.image.loaded .media::after,
figure.video.loaded .media::after {
  opacity: 0;
}


[class*='align-'],
[class*='self-'] {
  display: flex;
  flex-wrap: wrap;
}
[class*='align-'] > *,
[class*='self-'] > * {
  flex: 1 0 100%;
}
.cell.align-t {
  align-items: flex-start;
}
.cell.align-r {
  justify-content: flex-end;
}
.cell.align-b {
  align-items: flex-end;
}
.cell.align-l {
  justify-content: flex-start;
}
.cell.align-c {
  align-items: center;
  justify-content: center;
}
.cell.align-c-v {
  align-items: center;
}
.cell.align-c-h {
  justify-content: center;
}
.cell.align-str-v {
  align-items: stretch;
}
.cell.align-str-h {
  justify-content: stretch;
}
.cell.self-t {
  align-self: flex-start;
}
.cell.self-r {
  margin: 0 0 0 auto;
}
.cell.self-b {
  align-self: flex-end;
}
.cell.self-l {
  margin: 0 auto 0 0;
}
.cell.self-c-v {
  align-self: center;
}
.cell.self-c-h {
  margin: 0 auto;
}
.cell.self-c {
  margin: auto;
}

.srt,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.srt:focus,
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}